A média das médias
==================

## **Discentes:** José David e Eric Leandro

## Objetivo

Crie ou obtenha um conjunto de dados numéricos que representa uma variável aleatória (certifique-se que seu conjunto de dados tem pelo menos 100 itens). Considere que este conjunto de dados é a sua população. Compute e reporte a média desta população.

Realize o processo de amostragem aleatória sem reposição neste conjunto de dados 100 vezes. Cada vez que realizar a amostragem, colete um certo número de dados (algo entre 25% e 75% dos dados, escolha o valor que preferir), compute a média das suas amostras e registre estas médias em uma lista.

Compute a média da lista de médias que obteve e compare este valor com a média da população. Discuta seu resultado.

## Métodos:

Para evitar o envio de um arquivo zip com a planilha de dados ou uso de random, decidimos fazer uso da biblioteca seaborn para importar um conjunto de dados e realizar os cálculos estatísticos.

In [26]:
import seaborn as sbn
import random

In [27]:
nomes = sbn.get_dataset_names()
print(nomes)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [28]:
pinguins = sbn.load_dataset('penguins')
#display(pinguins)

In [29]:
filtro = (pinguins['species'] == 'Gentoo')
pinguins_escolha = pinguins[filtro].dropna(subset = ['body_mass_g'])
display(pinguins_escolha)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,Female
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,Female
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,Male
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [33]:
lista = random.sample(pinguins_escolha['body_mass_g'],k = 25) u

TypeError: Population must be a sequence.  For dicts or sets, use sorted(d).

## Resultado e discussão

## Referências

Escreva nesta seção as referências consultadas.

## Playground